<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.personalitytest.user.dao.IUserDAO">

				<!-- 测试分页工具:start -->
	<select id="selectAll" resultType="com.personalitytest.entity.HR_DistrictBO"> 
    	select 
    		DISTRICT_ID as districtId,
    		DISTRICT_NAME as districtName,
    		LEVEL as level,
    		PARENT_ID as parentId,
    		LIST as list
    	from 
    	 	hr_district 
	</select>
				<!-- 测试分页工具:end -->
				
	<select id="findUserByName" parameterType="String" resultType="hR_UserBO">
	SELECT
		USER_ID as userId,
		USER_NAME as userName,
		USER_PASSWORD as userPassword,
		USER_SURE_NAME as userSureName,
		USER_MOBILE as userMobile,
		USER_EMAIL as userEmail,
		ROLE_ID as roleId,
		`COLUMN_` as `column`
	FROM
		HR_USER
	WHERE
		USER_NAME = #{userName }
	</select>
				
	<insert id="insertUser" parameterType="hR_UserBO" useGeneratedKeys="true" keyProperty="USER_ID">
	INSERT INTO HR_USER
	(
		USER_NAME ,
		USER_PASSWORD ,
		USER_SURE_NAME ,
		USER_MOBILE ,
		USER_EMAIL ,
		ROLE_ID ,
		`COLUMN_`
	)
	VALUES
	(
		#{userName },
		#{userPassword },
		#{userSureName },
		#{userMobile },
		#{userEmail },
		#{roleId },
		#{column }
	)
	</insert>
	
	<update id="updateUser" parameterType="hR_UserBO">
	UPDATE 
		HR_USER 
	<trim prefix="SET" suffixOverrides=",">
		<if test="userSureName != null and userSureName != '' ">
			USER_SURE_NAME = #{userSureName },
		</if>
		<if test="userMobile != null and userMobile != '' ">
			USER_MOBILE = #{userMobile },
		</if>
		<if test="userEmail != null and userEmail != '' ">
			USER_EMAIL = #{userEmail },
		</if>
		<if test="userPassword != null and userPassword != '' ">
			USER_PASSWORD = #{userPassword },
		</if>
	</trim>
	WHERE 
	 	 USER_ID = #{userId };
	</update>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>